* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .option1,
  .option2,
  .option3,
  /* .signU{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  } */
  
  .option1 {
    /* background-image: url('/images); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    font-size: 100px;
  }
  
  .option2 {
    /* background-image: url('/images'); */
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: black;
    font-size: 100px;
  }
  
  .option3{
    /* background-image: url('/images'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    font-size: 100px;
  }
