.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-tabs {
    justify-content: flex-start;
    text-align: center;
}

.nav-item {
    border: 2px black solid;
}

.size {
    height: 9vh;
    background-color: darkred;
    border-top: 2px black solid;
}