* {
    margin: 0;
    padding: 0;
}

.header-wrap {
    background: url('../assets/headerimage.jpg') no-repeat;
    background-size: 100% 500%;
    height: 100px;
    border-bottom: 2px black solid;
}