/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

}

.map {
  height: 600px;
  width: 100%;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.search-button:hover {
  background-color: white;
  color: #242222;


 */




/* Mapbox.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.map {
  width: 100%;
  height: 600px;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 200px;
  padding: 8px;
  margin-right: 10px;
}

button {
  padding: 8px 16px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: blue;
  color: white;
}
.restaurant-list {
  list-style-type: none;
  color: white;
  padding: 0;
  margin: 0;
}

.restaurant-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}

.restaurant-list li:last-child {
  margin-bottom: 0;
}

.restaurant-name {
  flex: 1;
  font-weight: bold;
}

.restaurant-save {
  display: flex;
  align-items: center;
}

.restaurant-save button {
  margin-left: 10px;
}

@media (max-width: 480px) {
  input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
  }

  button {
    width: 100%;
  }
}