/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

}

.map {
  height: 600px;
  width: 100%;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.search-button:hover {
  background-color: white;
  color: #242222;


 */




.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.map {
  height: 600px;
  width: 100%;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ddd;
  border: 1px solid black;
  margin-right: 10px;
  transition: border-color 0.3s ease;
}

.search-input:focus {
  outline: none;
  border-color: #007bff;
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: black;
  color: white;
}

.restaurant-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.restaurant-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f8f9fa;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.restaurant-item:hover {
  background-color: #e9ecef;
}


.restaurant-name {
  font-size: 16px;
  margin: 0;
  margin-bottom: 5px;
}

.save-button {
  padding: 6px 12px;
  font-size: 14px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.save-button:hover {
  background-color: #242222;
  color: white;
} 
