/* #SignUp {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  #Login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
 
  .form-container {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: black;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type='email'],
  input[type='password'] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
   */


   /* ------------------------- */


   /* SignUp.css */
   #Login,
   #SignUp {
     width: 100%;
     max-width: 400px;
     margin: 0 auto;
     padding: 20px;
     background-color: rgba(255, 255, 255, 0.8);
     border-radius: 4px;
   }
   
   #SignUp {
     margin-top: 20px;
   }
   

h2 {
  margin-top: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.my-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.error-text {
  color: red;
}

.flex-end {
  justify-content: flex-end;
}

button[type="submit"] {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #242222;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  margin-top: 5px;
  margin-bottom: 5px;
}
